.my-text-ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

body {
    background-image: url("/images/background-image10.jpg");
}

#heart-icon {
    width: 25px;
    height: 25px;
}